.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

 *{
    margin: 0px;
    padding: 0px;
 }
  /* shared styles */
  main section{
    margin-top: 130px;
  }
  .dark-2{
    color: #474747;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
  }
  .button-secondary{
    background-color: #FFF8F3;
    border-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 36px;
    font-weight: bold;
  }
  .header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    padding-top: 51px;
    height: 837px;
    width: 1600px;
    margin: 0px auto;
  }
  .section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
  }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px 226px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner{
    /* width: 78vw; */
    display: flex;
    justify-content: space-between;
    padding: 100px 163px 1px 226px;
}
.banner-content{
    width: 585px;
    height: 500px;
    padding-top: 100px;
    /* padding: 297px 785px 184px 230px; */
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.banner-img{
    width: 574px;
    height: 676px;
    /* margin:0px 0px 0px 0px; */
}
.banner-description{
    text-align: center;
    font-size: 18px;
    /* font-weight: 400; */
    margin-bottom: 30px;
    color: #757575;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}
.about-iteams{
    display: flex;
    justify-content: space-around;
}
.iteam-title{
    text-align: center;
    font-size: 20px;
    color: #757575;
}
.iteam-description{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #a59b9b;
    border-radius: 5px;
    /* margin-bottom: 130px; */
}
.skill-description{
    font-size: 16px;
    color: #757575;
    padding: 3px;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}
.resume-title{
    margin-bottom: 113px;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.resume-content{
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
.resume-content h4{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-content h5{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-content h6{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
}
.resume-content p{
    font-size: 16px;
    color: #757575;
}
.resume-content hr{
    color: #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-container{
    display: flex;
    gap: 117px;
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    display: block;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 461px;
    font-family: open-sans-normal;
}
footer textarea{
    font-family: open-sans-normal;
    height: 180px;
    width: 461px;
    padding-top: 18px;
    padding-left: 30px;
    border: none;
    font-size: 16px;
    color: #757575;
    margin-bottom: 24px;
}
.footer-top{
    margin-top: 113px;
    padding-bottom: 130px;
}
footer input{
    font-family: open-sans-normal;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    margin-bottom: 24px;
    height: 64px;
    width: 461px;
}

::placeholder{
    font-size: 16px;
    color: #757575;
}
.footer-title{
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 28px;
}
footer p{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.icon{
    display: flex;
    gap: 24px;
}
footer{
    height: 837px;
    width: 1600px;
    margin: 0px auto;
}