.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

 *{
    margin: 0px;
    padding: 0px;
 }
  /* shared styles */
  main section{
    margin-top: 130px;

  }
  .dark-2{
    color: #474747;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
  }
  .header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  .section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
  }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 226px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner{
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 226px;
}
.banner-content{
    width: 585px;
    /* margin: 297px 785px 184px 230px; */
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.banner-img{
    width: 584px;
    /* object-fit: contain; */
}
.banner-description{
    text-align: center;
    font-size: 18px;
    /* font-weight: 400; */
    margin-bottom: 30px;
    color: #757575;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}
.about-iteams{
    display: flex;
    justify-content: space-around;
}
.iteam-title{
    text-align: center;
    font-size: 20px;
    color: #757575;
}
.iteam-description{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #a59b9b;
    border-radius: 5px;margin-bottom: 130px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
    padding: 3px;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}